<div class="uploader-file" data-value="{{file}}">
	<a href="{{url '/upload/' file}}" class="view" target="_blank">
		<img src="{{url '/upload/' file}}" alt="">
	</a>
	<a href="#" class="remove btn btn-danger">
		<i class="icon-remove"></i> {{_d 'awecms_upload' 'Remove'}}
	</a>
</div>